*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    margin: 0 0 0 10em;
    max-width: 1139px;
    max-height: 75px;
    background-color: #006957;
    border-radius: 0 0 10px 10px;
    justify-content: flex-end;
}
.header__item{
    display: flex;
    padding: 15px;
    margin-top: .6em;
}
.header__item>a{
    text-decoration: none;
    color: #FFFFFF;
}
.header_rubix_font{
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}
.webname{
    margin: .5em 65%;
    font-size: 24px;
}
.menu{
    display: flex;
    justify-content: space-around;
    margin: 2em 0 0 11.4em;
    max-width: 1137px;
    min-height: 58px;
    border-radius: 5px;
    background-color: #5ED0BD;
}
.menu__item{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 0.5em;
    max-height: 30px;
    min-width: 252px;
    border-radius: 0 0 5px 5px;
    background-color: #FFFFFF;
}
.menu__item>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color:black
}
.card-box{
    /* border: black 2px solid; */
    margin: 0.5em 0 0 9.4em;
    max-width: 74em;
    height: 43em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    /* border: solid 2px black; */
    width: 20em;
    height: 18em;
    margin: 1em auto 0 2vw;
    padding: 1em;
    background-color: #5ED0BD;
    justify-content: space-between;
}
.card__address{
    display: flex;
    justify-content: center;
    height: 30px;
    min-width: 252px;
    border-radius:5px;
    background-color: #FFFFFF;
}
.card__address>p{
    margin-top: 0.4em;
}
.card__button{
    display: flex;
    justify-content: center;
    width: 10em;
    height: 2em;
    margin: 0 0 0 5.2em;
    background-color: #FFFFFF;
    border-radius: 5px 0px;
}
.card__button>a{
    padding: 0.2em;
    font-size: 18px;
    text-align: center;
    width: 10em;
    height: 1.7em;
    text-decoration: none;
    color: black;
}
.card__image{
    display: flex;
    margin: 1em;
    height: 12em;
    width: 5em;
}
.card__image>img{
    border-radius: 20px;
}



